<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Leprosorium</title>
</head>
  <body>
    <h2>Home page</h2>

    <h3>Last posts:</h3>

    <% @posts.each do |post| %>
      <p>
        @<a href="/"><%= post.name %></a> <br>
        <br>
        <%= post.content %><br>
        <br>
        Created at: <%= post.created_at %> <a href="/post/<%= post.id %>">Comments</a>
      </p>
      <hr>
    <% end %>

    <form action="/" method="post">

      <div class="form-group">
        <input name="post[name]" type="text" class="form-control" id="exampleInputName" placeholder="Enter your name">
      </div>

      <div class="form-group">
        <textarea name="post[content]" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your content post"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Add post</button>
    </form>
  </body>
</html>
